.effect-delay-display {
  animation-name: disp-delay;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes disp-delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.effect-fade-top {
  animation-name: fade-in-top;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.effect-delay-fade-top {
  @extend .effect-fade-top;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.effect-fade-side {
  animation-name: fade-in-side;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.effect-delay-fade-side {
  @extend .effect-fade-side;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes fade-in-side {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.effect-shake {
  animation: shake 4s infinite, fade-shake 2s 1;
}
@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes fade-shake {
  from {
    opacity: 0;
    transform: translateY(-20px), rotate(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(-15deg);
  }
}

.move-to-right {
  animation: icon-move 40s infinite;
}

@keyframes icon-move {
  from {
    transform: translate(-10%);
  }
  to {
    transform: translateX(100%);
  }
}
